
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    height: 7vw;
    box-shadow: 0px 5px 0px gray;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-elements {
    list-style: none;
    display: flex;
    gap: 4vw;
    margin-left: 5vw;
    align-items: center;
    font-size: 2vw;
}

.nav-elements li {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;

}

.nav-elements li:hover {
    transform: scale(1.1);
    color: rgb(46, 139, 0);
}

#logo {
    height: 6vw;
    width: 10vw;
    
}



#main-header {
    display: flex;
    margin-left: 10vw;
    margin-top: 5vw;
    gap: 50vw;
    align-items: center;
}

#main-header button {
    background-color: green;
    color: black;
    border-radius: 50px;
    height: 2vw;
    width: 7vw;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#main-header button:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

#box-container {
    display: flex;
    gap: 5vw;
    margin-top: 4vw;
}

#info-table,
#location-table {
    height: 20vw;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 5px 5px 5px gray;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#info-table:hover,
#location-table:hover {
    box-shadow: 0px 10px 10px 5px gray;
    transform: translateY(-5px);
}

thead {
    border-bottom: 2px solid black;
}

table {
    border-spacing: 2vw;
    font-size: 1.2vw;
}

#info-table>h2,
#location-table>h2 {
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: 1.8vw;
}

#info-table {
    width: 40vw;
    margin-left: 10vw;
}

#location-table {
    width: 30vw;
}

#location-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    background-color: gray;
    width: 15vw;
    margin: auto;
    margin-top: 4vw;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#location-box:hover {
    background-color: darkgray;
    transform: scale(1.1);
}

