.frame-8,
.frame-8 * {
    box-sizing: border-box;
}

.frame-8 {
    height: 773px;
    position: relative;
}

.rectangle-45 {
    width: 1280px;
    height: 773px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.rectangle-15 {
    background: #ffffff;
    border-radius: 25px;
    width: 1021px;
    height: 252px;
    position: absolute;
    left: 133px;
    top: 63px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.rectangle-49 {
    background: #ffffff;
    border-radius: 5px;
    width: 1021px;
    height: 374px;
    position: absolute;
    left: 133px;
    top: 359px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.shubham {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 206px;
    top: 494px;
    width: 271px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.laptop {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 477px;
    top: 494px;
    width: 239px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._16-02-2025 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 716px;
    top: 494px;
    width: 232px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.completed {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 948px;
    top: 494px;
    width: 133px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.harshal {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 206px;
    top: 540px;
    width: 271px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.phone {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 477px;
    top: 540px;
    width: 239px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._17-02-2025 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 716px;
    top: 540px;
    width: 232px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pending {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 948px;
    top: 540px;
    width: 133px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.harsh {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 206px;
    top: 585px;
    width: 271px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.earbuds {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 477px;
    top: 585px;
    width: 239px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._18-02-2025 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 716px;
    top: 585px;
    width: 232px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pending2 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 948px;
    top: 585px;
    width: 133px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.shreesai {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 206px;
    top: 631px;
    width: 271px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.laptop2 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 477px;
    top: 631px;
    width: 239px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._17-02-20252 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 716px;
    top: 631px;
    width: 232px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.completed2 {
    color: #000000;
    text-align: left;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 948px;
    top: 631px;
    width: 133px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name {
    color: #000000;
    text-align: center;
    font-family: 'Itim-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 155px;
    top: 449px;
    width: 160px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    color: #000000;
    text-align: center;
    font-family: 'Itim-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 423px;
    top: 450px;
    width: 149px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    color: #000000;
    text-align: center;
    font-family: 'Itim-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 662px;
    top: 450px;
    width: 149px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    color: #000000;
    text-align: center;
    font-family: 'Itim-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 902px;
    top: 450px;
    width: 149px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-1 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.25);
    border-width: 1px 0 0 0;
    width: 875.36px;
    height: 0px;
    position: absolute;
    left: 205.64px;
    top: 484px;
    transform-origin: 0 0;
    transform: rotate(-0.145deg) scale(1, 1);
}

.line-2 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.25);
    border-width: 1px 0 0 0;
    width: 875.36px;
    height: 0px;
    position: absolute;
    left: 206px;
    top: 529.96px;
    transform-origin: 0 0;
    transform: rotate(-0.145deg) scale(1, 1);
}

.line-3 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.25);
    border-width: 1px 0 0 0;
    width: 875.36px;
    height: 0px;
    position: absolute;
    left: 207px;
    top: 574.96px;
    transform-origin: 0 0;
    transform: rotate(-0.145deg) scale(1, 1);
}

.line-4 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.25);
    border-width: 1px 0 0 0;
    width: 875.36px;
    height: 0px;
    position: absolute;
    left: 206px;
    top: 620.96px;
    transform-origin: 0 0;
    transform: rotate(-0.145deg) scale(1, 1);
}

.line-5 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.25);
    border-width: 1px 0 0 0;
    width: 875.36px;
    height: 0px;
    position: absolute;
    left: 205px;
    top: 666.96px;
    transform-origin: 0 0;
    transform: rotate(-0.145deg) scale(1, 1);
}

.rectangle-4 {
    background: #ffffff;
    border-radius: 10px;
    width: 268px;
    height: 133px;
    position: absolute;
    left: 183px;
    top: 147px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.rectangle-47 {
    background: #ffffff;
    border-radius: 10px;
    width: 268px;
    height: 133px;
    position: absolute;
    left: 510px;
    top: 147px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.rectangle-48 {
    background: #ffffff;
    border-radius: 10px;
    width: 268px;
    height: 133px;
    position: absolute;
    left: 837px;
    top: 147px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

._0 {
    color: #17b353;
    text-align: left;
    font-family: 'Jomhuria-Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 306px;
    top: 162px;
    width: 24px;
    height: 44px;
}

._02 {
    color: #17b353;
    text-align: left;
    font-family: 'Jomhuria-Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 955px;
    top: 162px;
    width: 26px;
    height: 44px;
}

._03 {
    color: #17b353;
    text-align: left;
    font-family: 'Jomhuria-Regular', sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 628px;
    top: 162px;
    width: 24px;
    height: 44px;
}

.total-request {
    color: #000000;
    text-align: center;
    font-family: 'Jomolhari-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 269px;
    top: 213px;
    width: 95px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pending3 {
    color: #000000;
    text-align: center;
    font-family: 'Jomolhari-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 596px;
    top: 217px;
    width: 95px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complete {
    color: #000000;
    text-align: center;
    font-family: 'Jomolhari-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 930px;
    top: 217px;
    width: 82px;
    height: 23px;
}

.collection-request {
    color: #000000;
    text-align: center;
    font-family: 'AveriaSerifLibre-Regular', sans-serif;
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    left: 179px;
    top: 104px;
    width: 248px;
    height: 43px;
}

.rectangle-46 {
    background: #ffffff;
    width: 1280px;
    height: 92px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-50 {
    background: #ffffff;
    width: 1021px;
    height: 64px;
    position: absolute;
    left: 133px;
    top: 359px;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}

.report {
    color: #000000;
    text-align: center;
    font-family: 'AveriaSerifLibre-Regular', sans-serif;
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    left: 148px;
    top: 377px;
    width: 158px;
    height: 28px;
}

.logout {
    color: #000000;
    text-align: center;
    font-family: 'InriaSerif-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    position: absolute;
    left: 1118px;
    top: 63px;
    width: 122px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-6 {
    width: 121.12px;
    height: 51px;
    position: absolute;
    left: 75px;
    top: 26px;
    object-fit: cover;
    aspect-ratio: 121.12/51;
}

.pride {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1154px;
    top: 13px;
    object-fit: cover;
    aspect-ratio: 1;
}

.rectangle-51 {
    background: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.51);
    border-width: 1px;
    width: 106px;
    height: 31px;
    position: absolute;
    left: 1012px;
    top: 375px;
}

.all {
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    font-family: 'InriaSerif-Bold', sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    position: absolute;
    left: 1051px;
    top: 379px;
    width: 48px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtract {
    width: 4.98px;
    height: 3px;
    position: absolute;
    left: 1095px;
    top: 390px;
    overflow: visible;
}

.vector {
    width: 1.41%;
    height: 2.59%;
    position: absolute;
    right: 18.44%;
    left: 80.16%;
    bottom: 48.25%;
    top: 49.16%;
    overflow: visible;
}